/.Xauthority
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.config
/.emacs.d
/.esd_auth
/.gtkrc-2.0
/.kde4
/.local
/.mozc
/.mozilla
/.opam
/.viminfo
/repo
/tmp

# XDG User Directories
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Videos

