/repo
/tmp

# XDG User Directories
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Videos

# macOS
/.CFUserTextEncoding
/Applications
/Library
/Microsoft Remote Desktop
/Movies
/Virtual Machines.localized

# dot files
/.*
!/.ssh
!/.gitconfig.d
!/.config
/.config/*
!/.config/fish/conf.d
!/.config/zsh
!/.config/zsh/conf.d
!/.zshrc
!/.zshenv
!/.env
!/.zsh
!/.spacemacs

# VirtualBox
/VirtualBox VMs
